---
import Header from './app/Header.astro';
import Sidebar from './app/Sidebar.astro';
import Editor from './app/Editor.astro';
---

<div class="app-shell">
  <Header />
  <Sidebar />
  <Editor />
</div>

<style>
  /* Layout styles rely on variables defined in Layout.astro */
</style>
